.container{
    background-color: #fff;
    width: 100%;
    max-width: 900px;
    padding: 50px 90px;
    border-radius: 10px;
    box-shadow: 0 2px 2px #000;
    margin: 0 auto;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}
